<!DOCTYPE html>
<html>
<head>
    <title>Live newsroom</title>
    <link rel="stylesheet" href="css/fonts.css"></style>
    <link rel="stylesheet" href="css/style.css"></style>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="libs/lodash.js"></script>
</head>
<body>
    
    <div class="header">Live newsroom</div>
    <div class="items"></div>

    <!--[if lte IE 9]><style type="text/css">
    /* Old IE doesn't support CSS transform or transitions */
    .items div { position: relative }
    </style><![endif]-->

    <script>
        var refreshSecs = 10,
            capi = 'http://content.guardianapis.com/search?api-key=test&show-tags=all&order-by=newest&use-date=last-modified&page-size=10',

            template = _.template('<div id="<%= id %>">' + 
                    '<span class="label-new">new</span>' +
                    '<span class="label-rising">updated</span>' +
                    '<a target="_top" href="http://localhost:9000/<%= id %>"><%= webTitle %></a>' +
                '</div>'),

            $items = $(".items"),

            useShaphots = window.location.hash === "#snapshots",
            snaphotBase = 'http://stephanfowler.com/gu-live-hack/snapshotter/data/',
            snaphotMin = 100,
            snaphotMax = 150,
            snaphotCount = 0,

            storageKeyState = 'gu.live.state',
            storageKeySnapshotCount = 'gu.live.snapshotCount';

        // Workaround for Webkit bug: force scroll height to be recomputed after the transition ends, not only when it starts
        $items.on("webkitTransitionEnd", function () {
            $(this).hide().offset();
            $(this).show();
        });

        function getDomList() {
            return _.map($('div', $items));
        }

        function getDomMap() {
            return _.reduce(getDomList(), function(domMap, el, i) {
                domMap[el.id] = el;
                return domMap;
            }, {});
        }

        function garbageCollect() {
            getDomList().forEach(function(el, i) {
                if (el.deleted) {
                    $(el).remove();
                } else {
                    $(el).removeClass();
                }
            })
        }

        function setPosition(el, i) {
            $(el).css('top', i * 29 );
            el.position = i;
        }

        function setDeleted(el) {
            $(el).addClass('deleted');
            el.deleted = true;
        }

        function simplify(article) {
            return _.pick(article, ['id', 'webTitle', 'webUrl', 'tags']);
        }

        function loadList() {
            var state = window.localStorage.getItem(storageKeyState);

            state = state && JSON.parse(state);
            state = _.isArray(state) && state;
            return state;
        }

        function saveList(list) {
            window.localStorage.setItem(storageKeyState, JSON.stringify(list));
        }

        function loadSnapshoCount() {
            var count = window.localStorage.getItem(storageKeySnapshotCount) || 0;
            return parseInt(count, 10);
        }

        function saveSnapshoCount(count) {
            window.localStorage.setItem(storageKeySnapshotCount, count + '');
        }

        function fetchList() {
            var defer = new $.Deferred(),
                url = capi;

            if (useShaphots) {
                url = snaphotBase + (snaphotMin + snaphotCount);
                snaphotCount += 1;
                snaphotCount = snaphotMin + snaphotCount > snaphotMax ? 0 : snaphotCount;
                saveSnapshoCount(snaphotCount);
            }

            $.ajax({
                url: url,
                dataType: 'jsonp',
                jsonpCallback: 'jsonpFn'
            }).done(function(data) {
                var list = data.response.results;

                list = list.map(simplify);
                defer.resolve(list);
            }).fail(function() {
                console.log(1111)
                defer.reject();
            });

            return defer;
        }

        function render(content) {
            if (content) {
                $items.html(content.map(template).join(''));
                getDomList().forEach(setPosition);
                return true;
            }
        }

        function renderUpdate() {
            fetchList().done(function(list) {
                var domMap = getDomMap(),
                    version = new Date().getTime();

                garbageCollect();

                if (_.isEmpty(domMap)) {
                    render(list);

                } else {
                    _.chain(list)
                        .forEach(function(article, index) {
                            var el = domMap[article.id];

                            if (!el) {
                                el = $(template(article)).addClass('new').appendTo($items)                                
                            } else if (index < el.position) {
                                $(el).addClass('rising');
                            } else if (index > el.position + 1) {
                                $(el).addClass('falling');
                            }

                            el.version = version;
                            setTimeout(function() {
                                setPosition(el, index)
                            }, 0);
                        })
                        .value();

                    _.chain(domMap)
                        .forEach(function(el, id) {
                            if (el.version !== version) {
                                setDeleted(el);
                                delete domMap[id];
                            }
                        })
                        .value();
                }

                saveList(list);
                setTimeout(renderUpdate, refreshSecs * 1000);
            })

        }

        function init() {
            snaphotCount = useShaphots ? loadSnapshoCount() : 0;
            setTimeout(renderUpdate, render(loadList()) ? 1000 : 0);
        }

        init();

    </script>
</body>
</html>
