<!DOCTYPE html>
<html>
<head>
    <title>Live newsdesk</title>
    <link rel="stylesheet" href="css/fonts.css"></style>
    <link rel="stylesheet" href="css/style.css"></style>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="libs/lodash.js"></script>
</head>
<body>
    
    <div class="header">Live newsdesk</div>
    <div class="items"></div>

    <!--[if lte IE 9]><style type="text/css">
    /* Old IE doesn't support CSS transform or transitions */
    .items div { position: relative }
    </style><![endif]-->

    <script>
        var toneWhitelist = [
                "timelines",
                "comment",
                //"help",
                //"thirdpartyventures",
                //"sponsoredfeatures",
                //"extract",
                "matchreports",
                "albumreview",
                "features",
                "obituaries",
                "minutebyminute",
                "editorials",
                "interview",
                //"recipes",
                //"readeroffers",
                "performances",
                //"extracompetitions",
                //"resource",
                //"letters",
                "reviews",
                "profiles",
                "blog",
                "livereview",
                //"extraoffers",
                "analysis",
                "q-and-as",
                //"advertisement-features",
                //"event-descriptions",
                //"childrens-user-reviews"
                "news"
            ],

            listLength = 12,

            useShaphots = window.location.hash === "#snapshots",
            refreshSecs = useShaphots ? 9 : 3,

            capi = 'http://content.guardianapis.com/search' + 
                    '?api-key=gnm-hackday' + 
                    '&use-date=last-modified' + 
                    '&order-by=newest' + 
                    '&page-size=' + listLength + 
                    '&tag=' + toneWhitelist.map(function(t) { return 'tone/' + t; }).join('|'),

            template = _.template('<div id="<%= id %>">' + 
                    '<span class="label-new">new</span>' +
                    '<span class="label-rising">updated</span>' +
                    '<a target="_top" href="<%= webUrl %>"><%= webTitle %></a>' +
                '</div>'),

            $items = $(".items"),

            snaphotBase = 'http://stephanfowler.com/gu-live-hack/snapshotter/data/',
            snaphotMin = 100,
            snaphotMax = 150,
            snaphotCount = 0,

            storageKeyState = 'gu.live.state',
            storageKeySnapshotCount = 'gu.live.snapshotCount';

        // Workaround for Webkit bug: force scroll height to be recomputed after the transition ends, not only when it starts
        $items.on("webkitTransitionEnd", function () {
            $(this).hide().offset();
            $(this).show();
        });

        function getDomList() {
            var list = _.map($('div', $items));
            return list.length ? list : null;
        }

        function asDomMap(domList) {
            return _.reduce(domList, function(domMap, el, i) {
                domMap[el.id] = el;
                return domMap;
            }, {});
        }

        function cleanUpDom() {
            _.forEach(getDomList(), function(el, i) {
                if (el.deleted) {
                    $(el).remove();
                } else {
                    $(el).removeClass();
                }
            })
        }

        function setPosition(el, i) {
            $(el).css('top', i * 30 );
            el.position = i;
        }

        function setPositions(list) {
            _.forEach(list, setPosition);
        }

        function markForDeletion(el) {
            $(el).addClass('deleted');
            el.deleted = true;
        }

        function simplify(article) {
            return _.pick(article, ['id', 'webTitle', 'webUrl', 'tags']);
        }

        function loadList() {
            var state = window.sessionStorage.getItem(storageKeyState);

            state = state && JSON.parse(state);
            state = _.isArray(state) && state;
            return state;
        }

        function saveList(list) {
            window.sessionStorage.setItem(storageKeyState, JSON.stringify(list));
        }

        function loadSnapshoCount() {
            var count = window.sessionStorage.getItem(storageKeySnapshotCount) || 0;
            return parseInt(count, 10);
        }

        function saveSnapshoCount(count) {
            window.sessionStorage.setItem(storageKeySnapshotCount, count + '');
        }

        function fetchList() {
            var defer = new $.Deferred(),
                url = capi;

            if (useShaphots) {
                url = snaphotBase + (snaphotMin + snaphotCount);
                snaphotCount += 1;
                snaphotCount = snaphotMin + snaphotCount > snaphotMax ? 0 : snaphotCount;
                saveSnapshoCount(snaphotCount);
            }

            $.ajax({
                url: url,
                dataType: 'jsonp',
                jsonpCallback: 'jsonpFn'
            }).done(function(data) {
                var list = data.response.results;

                list = list.map(simplify);
                defer.resolve(list);
            }).fail(function() {
                console.log(1111)
                defer.reject();
            });

            return defer;
        }

        function areDifferent(a, b) {
            return JSON.stringify(_.pluck(a, 'id')) !== JSON.stringify(_.pluck(b, 'id'));
        }

        function areVeryDifferent(a, b) {
            return _.intersection(_.pluck(a, 'id'), _.pluck(b, 'id')).length === 0;
        }

        function render(content) {
            if (content) {
                $items.html(content.map(template).join(''));
                setPositions(getDomList());
                return true;
            }
        }

        function renderUpdate(isInitial) {
            fetchList().done(function(list) {
                var oldList = loadList(),
                    oldDomList = getDomList(),
                    newDomList = [];
                    oldDomMap = asDomMap(oldDomList),
                    version = new Date().getTime();

                if (!oldList || areVeryDifferent(oldList, list)) {
                    console.log(111)
                    render(list);
                    saveList(list);

                } else  if (isInitial) {
                    console.log(222)
                    render(oldList);

                } else if (areDifferent(list, oldList)) {
                    console.log(333)
                    cleanUpDom();

                    _.chain(list)
                        .forEach(function(article, index) {
                            var el = oldDomMap[article.id];

                            if (!el) {
                                el = $(template(article)).addClass('new').appendTo($items)                                
                            } else if (index < el.position) {
                                $(el).addClass('rising');
                            } else if (index > el.position + 1) {
                                $(el).addClass('falling');
                            }

                            el.version = version;
                            newDomList.push(el);
                        })
                        .value();

                    setTimeout(function() {
                        setPositions(newDomList);
                    });

                    _.chain(oldDomMap)
                        .filter(function(el) { return el.version !== version; })
                        .forEach(markForDeletion)
                        .value();

                    saveList(list);
                }

                setTimeout(renderUpdate, (isInitial ? 3 : refreshSecs) * 1000);
            })

        }

        function init() {
            snaphotCount = useShaphots ? loadSnapshoCount() : 0;
            renderUpdate(true);
        }

        init();

    </script>
</body>
</html>
